@page "/{id}"

@using BlazorApp1.Data

@inject NavigationManager NavigationManager
@inject OrderService OrderService


@if (this.Order == null)
{
    <p>Loading...</p>
    return;
}

<h1>Hello, @this.Order.CustomerName!</h1>

<p>
    Thanks so much for your order!
</p>

@if (this.Order.HasArrived)
{
    <p>You checked in at <strong>@this.Order.ArrivedAt</strong>, there is nothing more you need to do! We are working as fast as we can to get your order to you. See you soon!</p>
}
else
{
    <p>At the store? Go ahead and let us know by clicking the "I am here" button and we will be out shortly!</p>
}

<button class="@this.GetButtonCssClass(!this.Order.HasArrived)" @onclick="@(async () => await OnArriveClick(true))">I am here</button>
<button class="@this.GetButtonCssClass(this.Order.HasArrived)" @onclick="@(async () => await OnArriveClick(false))">I am not here</button>

@code {
    [Parameter]
    public string Id { get; set; }

    public Order Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Order =
            await this.OrderService.GetByIdAsync(this.Id);
    }

    protected async Task OnArriveClick(
        bool hasArrived)
    {
        this.Order =
            await this.OrderService.ArriveAsync(this.Id, hasArrived);
    }

    protected string GetButtonCssClass(
        bool primary)
    {

        if (primary)
        {
            return "btn btn-primary";
        }

        return "btn btn-link";
    }
}